html {
	max-width: 1700px;
}

.banner {
	height: 600px; /*из фотошопа*/
    margin: 28px 0 200px 0; /*100 - 72 (header) и для отступа низа*/
    padding: 110px 0 0 0; /*отступ от верха родителя из фотошопа*/
}

.banner_title, .banner_text {
    margin: 0; /*сброс*/
}

.registr {
    margin: 35px auto 115px auto; /*из фотошопа*/
    max-width: 1200px;
}
.registr_form {
    margin: 0 0 0 40px;/* для ручного центрирования*/
}

.registr form input {
    width: 230px;  /*из фотошопа 280 - 50 (иконка)*/
    height: 45px; /*из фотошопа*/
    margin: 5px 5px;

    padding-left:50px; /*место для иконки*/
}

.registr form input[type="submit"] {
    padding-left: 0; /*отменяем padding, примененную для input*/
}

.slider {
    margin-top: 20px;
}

.head {
    margin-bottom: 90px;
}

.head_title, .head_text {
    margin: 0; /*сброс*/
}

.service {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    /*height: 430px;*/
}

.left {
    width: 40%;
    float: left;
    padding: 0 50px 0 60px; /*место для иконки*/
    margin-bottom: 80px;
}

.right {
    width: 40%;
    float: right;
    padding: 0 50px 0 60px; /*место для иконки*/
    margin-bottom: 80px;
}

.content_text {
    margin: 20px 0 0 0;
}

.about_container {
    width: 1700px;
    height: 624px;
    margin: 0;
    padding: 0;
}

.about_img {
    display: block;
    float: left;
}
.about-us {
    width: 850px;
    height: 624px;
    box-sizing: border-box;
    float: right;
    padding: 170px 250px 0 80px;
}

.about-us .content_text {
    margin-top: 30px;
    box-sizing: border-box;
}
input[type="button"] {
    width: 140px;
    height: 40px;
    margin-top: 30px;
}

.pricing {
    width: 1700px;
    height: 890px;
    margin: -3px;
}

.pricing_container {
    width: 1200px;
    padding: 130px 0 165px 0;
    margin: 0px auto;
    box-sizing: border-box;
}

.price_plan {
    height: 500px;
    margin-top: -40px;
 }

.price_basic,
.price_premium,
.price_gold {
    display: inline-block;
    height: 440px;
    width: 390px;
    margin: 0px;
    padding: 0;
    vertical-align: middle;
}

.price_title {
    padding: 55px 0 30px 0;
    margin: 0;
}

.price_cost {
    width: 110px;
    margin: 0 auto;
    padding: 0;
}

.price_text {
    margin: 0;
    padding: 0;
}

.price_list {
    padding: 0 31px;
    margin-top: 30px; 
}
    
.price_info {
    padding: 15px 0;
    margin: 0;
} 

.price_plan input[type="button"] {
    margin-top: -30px;
}

.pricing .activ {
    width: 400px;
    padding: 30px 0;
}

.work {
    width: 1700px;
    height: 800px;
    padding: 0;
    margin: 0;
}

.work_container {
    width: 1200px;
    height: 800px;
    margin: 0 auto 0;
    box-sizing: border-box;
}

.work .head {
    margin-bottom: 80px;
    padding-top: 100px;
}

.work_icon {
    width: 1050px;
    height: 130px;
    padding: 0 75px;
    margin: 0 auto;
}

.work_icon .icon {
    margin: -2px;
    padding: 0;
    width: 150px;
    height: 130px;
    display: inline-block;
}

.work_step {
    width: 1200px;
    height: 360px;
    padding: 0;
    margin: 0 auto;    
}

.work_step1,
.work_step2,
.work_step3,
.work_step4 {
    display: inline-block;
    width: 260px;
    
    margin: -2px;
    padding: 100px 20px 50px;
}

.step__text {
    margin-top: 30px;
}

.start_button {
    text-align: center; 
    margin-top: -20px;   
}

.clients {
    width: 1700px;
    height: 910px;
    padding: 0;
    margin: 0;
}
.clients_container {
    width: 1200px;
    height: 910px;
    margin: 0 auto 0;
    box-sizing: border-box;
}

.clients .head {
    margin-bottom: 60px;
    padding-top: 140px;
}

.portrait_all {
    width: 1200px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.portrait_1,
.portrait_2,
.portrait_3,
.portrait_4 {
    display: inline-block;
    float: left;
    width: 560px;
    height: 230px;
    margin: 0 20px 20px;
}

.portrait_icon {
    width: 160px;
    height: 230px;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

.newsletter {
    width: 1700px;
    height: 940px;
    margin: 0;
    padding: 0;
}

.newsletter_container {
    width: 1200px;
    height: 940px;
    margin: 0 auto 0;
    box-sizing: border-box;
}

.newsletter .head {
    margin-bottom: 35px;
    padding-top: 150px;
}

.newsletter .registr {
    margin: 0 auto 75px;
    width: 940px;
}

.newsletter .map {
    width: 1200px;
    height: 530px;
}










.clearfix {
    display: block;
    clear: both;
}

